
#about, #education {
    max-width: 120ch;
}

#about h1, #education h1 {
    font-size: var(--font-size-A);
}

#about p, #education p {
    font-size: 2rem;
    text-align: justify;
}

#education {
    margin-top: 5vh;
}