
.flex {
    display: flex;
}

h1 {
    font-size: var(--font-size-A);
}

h2, span {
    font-size: var(--font-size-B);
}

h3, label, .required {
    font-size: var(--font-size-C);
}

div a {
    transition: color var(--hover-transform-time) ease-in-out;
    color: var(--font-color);
}

div a:hover {
    color: lightblue;
}

#emailCpyBtn {
    cursor: pointer;
    color: var(--font-color);
    transition: color var(--hover-transform-time) ease-in-out;
}

#emailCpyBtn:hover {
    color: lightblue;
}

#emailCpyBtn::selection {
    color: var(--font-color);
}

.required {
    color: red;
}

#contact-form {

    margin-right: var(--contact-to-edge);
    margin-left: var(--contact-to-edge);
}

#contact-form label {
    font-size: 1.5em;
    transition: all 0s;
}

#contact-form input {
    font-size: 2em;
}

#contact-form input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: 10px 0;
    width: 400px;
    color: black;
}

#contact-form input:focus {
    outline: none;
}

#contact-form textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: 10px 0;
    max-width: 56%;
    min-width: 56%;
    width: 56%;
    min-height: 125px;
    height: 125px;
    color: black;
    outline: none;
    font-size: 2em;
}