/* =================================== */
/* Project: Nicole's Portfolio Website */
/* Author: Max Ratajczak               */
/* =================================== */

.flex{
    display: flex;
}
h1{
    font-size: var(--font-size-A);
}
h2{
    font-size: var(--font-size-B);
}
h3{
    font-size: var(--font-size-C);
}
span{
    font-size: 2.5rem;
}


div a{
    transition: color var(--hover-transform-time) ease-in-out;
    color: var(--font-color);
}
div a:hover{
    color: lightblue;
}

#emailCpyBtn{
    cursor: pointer;
    color: var(--font-color);
    transition: color var(--hover-transform-time) ease-in-out;
}
#emailCpyBtn:hover{
    color: lightblue;
}
#emailCpyBtn::selection{
    color: var(--font-color);
}