@font-face{
    src: url(/assets/fonts/Karla-Regular.ttf);
    font-family: Karla-Regular;
}
/* @font-face{
    src: url(/assets/fonts/Karla-SemiBold.ttf);
    font-family: Karla-SemiBold;
} */

::selection {
    color: var(--bg-color);
    background: var(--font-color);
}
::-moz-selection {
    color: var(--bg-color);
    background: var(--font-color);
}

:root {
    --bg-color: #f7f4ed;
    --font-color: #424242;
    --hover-color: black;
    --img-shadow: #1313139c;

    --hover-transform-time: 0.4s;

    --content-to-edge: 4.5vw;
    --project-spacing: 3vw;
    --text-to-image: 1.5vw;
    --text-spacing: 0.8vw;

    --landing-image-width: 45vw;
    --landing-image-height: 80vh;

    /* --small-fontsize: 1.8vw;
    --medium-fontsize: 1.1vw;
    --large-fontsize: 62.50%; */

    --font-size-A: 3.5rem;
    --font-size-B: 2rem;
    --font-size-C: 1.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Karla-Regular;
    font-weight: normal;
}

html {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-size: 62.50%;
}

header {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 85px;
    top: 0%;
    z-index: 100;
    flex-wrap: wrap;
    text-align: center;
}

footer p {
    color: var(--font-color);
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10px;
    font-size: var(--font-size-C);
}

h1, h2, a, p {
    text-decoration: none;
    color: var(--font-color);
    padding: 0;
}

#home-link {
    text-align: center;
    margin: 0 var(--content-to-edge);
    transition: transform var(--hover-transform-time) ease-in-out;
    font-size: var(--font-size-A);
}

#home-link:hover {
    backface-visibility: hidden;
    color: var(--hover-color);
}

header h1 {
    transition: transform var(--hover-transform-time) ease-in-out;
    transition-property: transform;
}

header h1:hover {
    backface-visibility: hidden;
    color: var(--hover-color);
    transform: scale(1.025);
}

#nav-links {
    margin-right: 4.5vw;
    align-items: flex-start;
    position: relative;
    top: -5px;
}

#nav-links li {
    display: inline-block;
    list-style: none;
    margin-left: 2vw;
    transition: transform var(--hover-transform-time) ease-in-out;
    
}

#nav-links li a {
    color: var(--font-color);
    text-decoration: none;
    font-size: var(--font-size-B);
    
}

#nav-links li a:hover {
    backface-visibility: hidden;
    color: var(--hover-color);
}

#nav-links li:hover {
    backface-visibility: hidden;
    transform: scale(1.08);
}

.main-content {
    margin: var(--content-to-edge);
}

.text-section h1 {
    font-family: Karla-Regular;
    font-size: var(--font-size-A);
}

.text-section {
    position: relative;
    top: -10px;
}

.text-section p {
    font-size: var(--font-size-B);
    max-width: 35ch;
    padding-bottom: var(--text-spacing);
}

.text-section h1 {
    padding-bottom: var(--text-spacing);
}

.img-section {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.img-section img {
    max-width: var(--landing-image-width);
    max-height: var(--landing-image-height);
    transition: all var(--hover-transform-time) ease-in-out;
}

.left-card {
    display: flex;
    justify-content: center;
    margin-top: var(--project-spacing);
}

.left-card .img-section a {
    align-self: flex-end;
}

.left-card .img-section img:hover {
    backface-visibility: hidden;
    box-shadow: -7px 7px 7px var(--img-shadow);
    transform: scale(1.015);
}

.left-card .text-section {
    display: flex;
    flex-flow: column;
    flex-basis: 50%;
    padding-left: var(--text-to-image);

}

.right-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: var(--project-spacing);
}

.right-card .img-section img:hover {
    backface-visibility: hidden;
    box-shadow: 7px 7px 7px var(--img-shadow);
    transform: scale(1.015);
}

.right-card .text-section {
    display: flex;
    flex-flow: column;
    flex-basis: 50%;
    text-align: right;
    padding-right: var(--text-to-image);
}

.right-card .text-section a div {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

@media (max-width: 850px) {
    .left-card, .right-card {
        flex-direction: column;
    }
    .img-section {
        flex-direction: row;
        margin: 0 var(--content-to-edge);
    }
    .img-section img {
        max-width: 100%;
    }
    .text-section {
        padding: 0 !important;
        margin: 15px var(--content-to-edge) !important;
    }
    .right-card .text-section {
        display: block;
        text-align: left;
    }
    .right-card .text-section a div{
        display: block;
    }
}

@media (max-width: 620px) {
    header {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }
    #home-link {
        margin: 0px !important;
    }
    #nav-links {
        margin: 0px !important;
        margin-top: 10px !important;
    }
}